<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"/>
        <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"/>
        <meta http-equiv="refresh" content="3">
     <style>
             .centered {
      display : block;
      margin : 0 auto;
      text-align: left;
      width: 800px;
      }
     </style>
    <title>Bokeh</title>
</head>
<body > 
    <div class="centered" >
   <h1>Anomaly detection system for City water supply <h1>
        <table style="width:100%">
                <tr>
                        <td>Yesterday's supply was {{ result }}</td>
                    </tr>
            <tr>
                
                <td>
                    
                    {{div1| safe}}</td>
                   
            </tr> 
            <tr>
                    <td>Anomalies:{{nomalies}} Nomalies:{{anomalies}} </td>
                </tr>
         </table>
    </div>
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.4.0.min.js"></script> 
    {{script | safe}}
    {{script1 | safe}}
</html>